.api-project-list {
  width: 80%;
  margin: auto;
}

.api-project-list__empty {
  text-align: center;
}

.api-project-list__header {
  display: flex;
  flex-direction: row;
}

.api-project-list__filter {
  flex: 1 1 auto;
}

